**<font size="4">Data Structures</font>**

>Python have a total of 5 data structures, namely- Lists, Sets, Dictionaries, Tuples...

**<font size="3">Lists</font>**

In [155]:
l = [10, 10.1, "parakh"]
# creating List

In [156]:
type(l)
# checking type of l

list

In [157]:
l.extend(["srivastava"])
# adding items to list
print(l)

[10, 10.1, 'parakh', 'srivastava']

In [158]:
l.append("python coder")
# adding items at last
print(l)

[10, 10.1, 'parakh', 'srivastava', 'python coder']

In [159]:
del(l[0])
# deletion
print(l)

[10.1, 'parakh', 'srivastava', 'python coder']

In [160]:
s = "parakh srivastava"
l2 = s.split()
# string -> list
print(l2)

['parakh', 'srivastava']

In [161]:
l3 = l2[:]
# cloning of list
print(l3)

['parakh', 'srivastava']

**<font size="3">Tuples</font>**

In [162]:
t = ("parakh",10,10.1)
# creation

In [163]:
type(t)

tuple

In [164]:
print(t[0])

parakh

In [165]:
# t[0]='srivastava'
# ERROR 
# Tuples are immutable

In [166]:
print(t[0]+' srivastava')

parakh srivastava

In [167]:
print(t[0:2])

('parakh', 10)

In [168]:
t2 = (20,13,28,9,100)
# Sorting(ascending) of tuple elements
print(sorted(t2))

[9, 13, 20, 28, 100]

**<font size="3">Sets</font>**

In [169]:
s = (1,2,3,1)
# creation from tuple
s1 = set(s)

In [170]:
type(s1)

set

In [171]:
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [172]:
s1.remove(1)
# removal
print(s1)

{2, 3, 4}

In [173]:
2 in s1
# checking the presence of element

True

In [174]:
s2 ={"parakh","srivastava"}
# creation
type(s2)

set

In [175]:
s3=s1.union(s2)
# union
print(s3)

{2, 3, 4, 'srivastava', 'parakh'}

In [176]:
s2.issubset(s3)
# subset

True

**<font size="3">Dictionaries</font>**

In [177]:
d = {1:"parakh",2:"srivastava",3:"Prashant"}
# creation
type(d)

dict

In [178]:
del(d[1])
# deletion
print(d)

{2: 'srivastava', 3: 'Prashant'}

In [179]:
d.keys()
# keys

dict_keys([2, 3])

In [180]:
d.values()
# values

dict_values(['srivastava', 'Prashant'])

**<font size="4">Data Types</font>**

>Total of 6 Data types are there- String, Numbers, and 4 above mentioned.

In [181]:
st = "Hello World!"
type(st)

str

In [182]:
i = 10
print(type(i))
print()
j = 10.0
print(type(j))

<class 'int'>

<class 'float'>

**<font size="4">Tuple Vs List</font>**

**Major difference**

>Tuple is immutable, i.e, they can't be modified within the variable they are created, and new variable is needed for the modification of elements.

>List is mutable, i.e, they can be modified within the variable they are created, and no new variable is needed for the modification of elements.

**Other difference**

>Tuple elements are inside ().

>List elements are inside []

**<font size="4">Dictionary Vs Set</font>**

**Major difference**

>Dictionary is a key:value pair, where duplicate values are allowed. But, keys should be unique.

>Set is ordered data structure, with no duplicate values allowed

**Other difference**

>Dictionary elements are stored in {}, eg-> {1:"parakh",2:"srivastava"}

>Set elements are also stored in {}, eg-> {1,2,3}

**<font size="4">Functions and lambda function</font>**

**In-built function**

In [183]:
a=[11,2,13,4]
len(a)
# length of data structure -> no.of elements

4

In [184]:
sorted(a)
# sorting in ascending order

[2, 4, 11, 13]

In [185]:
max(a)
# maximum of all elements

13

In [186]:
min(a)
# minimum of all

2

**User-defined functions**

In [187]:
def sum(a,b):
    c=a+b
    return c
# def is the keyword
s=sum(10,20)
print(s)

30

>Every program starts with "main", so lets make "main" class

In [188]:
def sum(a,b):
    c=a+b
    return c
def main():
    d=sum(10,20)
    print(d)
    
if __name__=="__main__":
    main()

30

**Lambda Function**

>Lambda function is an anonymous function, which does not require name of the function to be mentioned!

In [189]:
x = lambda a:a+10
# with one arguement
print(x(10))

20

In [190]:
x = lambda a,b,c: a*b*c
# with three arguements
print(x(10,10,10))

1000

**<font size="5">Completed! Thanks.</font>**